 .u-section-1 {
  background-image: url("../images/bg.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-list-1 {
  margin: 150px -37px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 434px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 16px;
}

.u-section-1 .u-group-1 {
  width: 230px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto -20px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 16px;
}

.u-section-1 .u-group-2 {
  width: 230px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto -20px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 23px 16px;
}

.u-section-1 .u-group-3 {
  width: 230px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto -20px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 23px 16px;
}

.u-section-1 .u-group-4 {
  width: 230px;
  min-height: 41px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 30px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto -20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 298px;
    grid-template-columns: repeat(4, calc(25% - 15px));
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-4 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }
}